/* for testing */

* {
		/*border: 1px solid red !important;*/

}

/* classic selectors */

body {
	font-family: sans-serif;
	color: #000000;
}

/* my customized selectors */

.titlesuper {
	font-weight: 900;

	font-size: 28px;

	margin-top: 45px;
    
    margin-left: 3px;
}

.subtitle {
	color: #000000;

	font-weight: 900;
    
    font-size: 25px;
    
    margin-top: 20px;
}

.internal-text-regular {
	line-height: 100%;

	margin-top: 20px;
    
    margin-bottom: 20px;
    
    margin-left: 0px;
    
    margin-rigth: 0px;
    
    font-size: 17px;
    
    font-weight: 700;
}

.internal-text-bold-italic {
	line-height: 100%;

	margin-top: 20px;
    
    margin-bottom: 20px;
    
    margin-left: 0px;
    
    margin-rigth: 0px;
    
    font-size: 17px;
    
    font-weight: 700;

    font-style: italic;
}

.internal-text-super-bold-italic {
	line-height: 100%;

	margin-top: 20px;
    
    margin-bottom: 20px;
    
    margin-left: 0px;
    
    margin-rigth: 0px;
    
    font-size: 17px;
    
    font-weight: 900;

    font-style: italic;
}

.internal-text-only-bold {
	line-height: 100%;

	margin-top: 20px;
    
    margin-bottom: 20px;
    
    margin-left: 0px;
    
    margin-rigth: 0px;
    
    font-size: 17px;
    
    font-weight: 700;
}

.internal-text-only-italic {
	line-height: 100%;

	margin-top: 20px;
    
    margin-bottom: 20px;
    
    margin-left: 0px;
    
    margin-rigth: 0px;
    
    font-size: 17px;
    
    font-style: italic;
}

.flexrow {
	display: flex;
	/*flex-wrap: wrap;*/
}

.frameborder {
	border: 1px solid #CCCCCC;

	align-self: center;

	padding: 10px;
    
    margin-left: 0px;
    
    margin-top: 30px;
    
    padding-left: 20px;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #000000; /* old IE */
    background-color: #000000; /* Modern Browsers */
}